html,
body {
  overflow: hidden;
  font-family: Secular One, sans-serif;
}

body {
  padding: 22px;
}

h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

div {
  margin-left: 30px;
  margin-bottom: 16px;
}

div svg {
  position: relative;
  width: 200px;
}

.square {
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 0;
}

.square-animation1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.star {
  animation-name: star;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes star {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.line-star {
  animation-name: line-star;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: center;
}

@keyframes line-star {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}

/*
  X軸： 300.874px / 512px（キャンバスwidth） * 100% = 58.764453125%
  Y軸： 258.704px / 512px（キャンバスheight） * 100% = 50.528125%
*/
.fish {
  animation-name: fish;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2,end);
  transform-origin: 22.5% 11% ;
}

.fish2 {
  animation-name: fish;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2,end);
  transform-origin:  13% 39.5% ;
}

@keyframes fish {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.father {
  animation-name: father;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2,end);
  transform-origin: 90% 56%;
}

@keyframes father {
  0% {
    transform: rotate(-3deg)
  }
  100% {
    transform: rotate(3deg)
  }
}

.boy-head {
  animation-name: boy-head;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2,end);
  transform-origin: 57.5% 55%;
}

@keyframes boy-head {
  0% {
    transform: rotateY(-180deg) translateX(5px);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.star {
  animation-name: star;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2,end);
  transform-origin: 50% 50%;
  opacity: 0;
}

@keyframes star {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.star-line {
  animation-name: star-line;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2,end);
  transform-origin: 50% 50%;
  opacity: 0;
}

@keyframes star-line {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lets {
  animation-name: lets;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.44,.99,.48,0);
  transform: translateX(5px);
  transform-origin: 7% 9%;
}

@keyframes lets {
  0%{
    transform: translateX(5px) rotate(0);
  }
  38% {
    transform: translateX(5px) rotate(0deg);
  }
  39% {
    transform: translateX(5px) rotate(10deg);
  }
  40% {
    transform: translateX(5px) rotate(-10deg);
  }
  41% {
    transform: translateX(5px) rotate(0);
  }
  100% {
    transform: translateX(5px) rotate(0);
  }
}

.enjoy {
  animation-name: enjoy;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.44,.99,.48,0);
  transform-origin: 12.12% 30.06%;
}

@keyframes enjoy {
  0%{
    transform: rotate(0);
  }
  48% {
    transform: rotate(0deg);
  }
  49% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  51% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.left-men {
  animation-name: left-men;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 16.16% 64.33%;
}

@keyframes left-men {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05) rotate(5deg);
  }
  60% {
    transform: rotate(1);
  }
  70% {
    transform: scale(1.05) rotate(5deg);
  }
  100% {
    transform: scale(1);
  }
}

.left-men-head {
  animation-name: left-men-head;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 14.14% 50.3%;
}

@keyframes left-men-head {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.right-men {
  animation-name: right-men;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 90.9% 68.5%;
}

@keyframes right-men {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05) rotate(5deg);
  }
  70% {
    transform: rotate(1);
  }
  80% {
    transform: scale(1.05) rotate(5deg);
  }
  100% {
    transform: scale(1);
  }
}

.right-men-head {
  animation-name: right-men-head;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 92.4% 51.0%;
}

@keyframes right-men-head {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fire {
  animation-name: fire;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 66.6% 42.6%;
}

@keyframes fire {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  70% {
    transform: rotate(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.happy {
  animation-name: happy;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 16% 30.9%;
}

@keyframes happy {
  0%{
    transform: rotate(0);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}

.left-girl-arm {
  animation-name: left-girl-arm;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 26% 96.3%;
}

@keyframes left-girl-arm {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.left-girl-face {
  animation-name: left-girl-face;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 26.5% 59.75%;
}

@keyframes left-girl-face {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.right-girl-face {
  animation-name: right-girl-face;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 53.3% 58.5%;
}

@keyframes right-girl-face {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.right-girl-arm {
  animation-name: right-girl-arm;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 46.5% 96.34%;
}

@keyframes right-girl-arm {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  70% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cushion {
  animation-name: cushion;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 76.7% 61.1%;
}

@keyframes cushion {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.left-boy {
  animation-name: left-boy;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 22.15% 47.5%;
}

@keyframes left-boy {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.left-boy-cap {
  animation-name: left-boy-cap;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 21% 21.3%;
}

@keyframes left-boy-cap {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-7deg) translateY(-3px);
  }
  50% {
    transform: rotate(0deg) translateY(0px);
  }
  70% {
    transform: rotate(7deg) translateY(-3px);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bug-basket {
  animation-name: bug-basket;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 19.15% 53.9%;
}

@keyframes bug-basket {
  0% {
    transform: scale(1.1) rotate(-3deg);
  }
  50% {
    transform: scale(1) rotate(3deg);
  }
  100% {
    transform: scale(1.1) rotate(-3deg);
  }
}

.right-girl {
  animation-name: right-girl;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 74.7% 65.2%;
}

@keyframes right-girl {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.right-girl-cap {
  animation-name: right-girl-cap;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 74.4% 43.2%;
}

@keyframes right-girl-cap {
  0% {
    transform: rotate(0deg) translateY(-3px);
  }
  20% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(0deg) translateY(0px);
  }
  70% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg) translateY(-3px);
  }
}

.dust1 {
  animation-name: dust;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 33.31% 85.4%;
}

@keyframes dust {
  0% {
    opacity: 1;
    transform: rotate(-5deg);
  }
  50% {
    opacity: 0;
    transform: rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-5deg);
  }
}

.dust2 {
  animation-name: dust2;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 49.8% 80.6%;
}

@keyframes dust2 {
  0% {
    opacity: 1;
    transform: translateX(2px) rotate(-5deg);
  }
  50% {
    opacity: 0;
    transform: rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: translateX(2px) rotate(-5deg);
  }
}

.dust3 {
  animation-name: dust3;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 91.5% 95.2%;
}


@keyframes dust3 {
  0% {
    opacity: 1;
    transform: translateX(2px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(2px);
  }
}

.bike {
  animation-name: bike;
  animation-duration: 2s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
}

@keyframes bike {
  0% {
    transform: scale(0.9) translateY(1px);
  }
  50% {
    transform: scale(0.95) translateY(0px);
  }
  100% {
    transform: scale(0.9) translateY(1px);
  }
}

.bike-left-wheel {
  animation-name: bike-wheel;
  animation-duration: 2s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 17.985% 82.24%;
}

.bike-right-wheel {
  animation-name: bike-wheel;
  animation-duration: 2s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 81.653% 82.57%;
}

@keyframes bike-wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
